TZ=UTC
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=5432
BASE_URL=
PORT=443
DOC_USER=
DOC_PASS=
SENDGRID_API_KEY=
COMPANY_LOGO_URL=
COMPANY_NAME=
COMPANY_ADDRESS=
COMPANY_PHONENUMBER=
SECRET_KEY=0a06bb4c8e6d2b8f62ec71166d8997f588b3b3b19313bbf14fcdfc9ba082827c
USERS_TABLE=mra_users
USER_DETAILS_TABLE=mra_user_details
GENDER_TYPES_TABLE=mra_gender_types